@model Forum.MVC.UI.Models.Login
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    @using (Html.BeginForm("Index","Login",FormMethod.Post))
    {
    <div class="limiter">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title p-b-34 p-t-27">
                    Log in
                </span>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    @Html.TextBoxFor(m => m.Username, new { @class = "input100", @placeholder = "Username" })
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" ,@style="font-size:12px",@align="center"})
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    @Html.PasswordFor(m => m.Passrowd, new { @class = "input100", @placeholder = "Password" })
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>
                @Html.ValidationMessageFor(model => model.Passrowd, "", new { @class = "text-danger", @style = "font-size:12px", @align = "center" })
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn" id="submit">
                        Login
                    </button>
                </div>
                <span class = "text-danger", style = "font-size:12px", align = "center" >@ViewBag.loginerror</span>
                <div class="text-center p-t-90">
                    <a class="txt1" href="/Registration">
                        New User?
                    </a>
                </div>
            </div>
        </div>
    </div>
    }


    <div id="dropDownSelect1"></div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/main.js"></script>
</body>
</html>